<section class="blogwindow">
  <header class="blogheader">
    <div class="logo"></div>
    <span class="blogtitle">TITLE</span>
    <button class="new-post">New Post</button>
    <span class="bloguser">{{username}}</span>
  </header>
  <div class="postbox"></div>
  <div class="trendingbox">
    <h2 class="trendingtext">TRENDING</h2>
    <div class="trendingpics"></div>
  </div>
  <div class="popularbox">
    <h2 class="populartext">POPULAR</h2>
    <div class="popularposts"></div>
  </div>
</section>
