<section class="show-window">
  <header class="blogheader">
    <span class="blogtitle"><i class="fa fa-inbox"></i>PostBox</span>
    <button class="new-post">New Post</button>
    <span class="bloguser">{{username}}</span>
  </header>
        <form class="edit-post">
          <input type="text" class="edit-title-input" value="{{title}}">
          <textarea class="edit-content-input">{{content}}</textarea>
          <input type="url" class="edit-post-picture" value="{{picture}}">
          <div class="selecttagbox">
            <select class="tagselection">
              <option value="Instruction">Select a Tag</option>
              <option value="Movies">Movies</option>
              <option value="Life">Life</option>
              <option value="Sports">Sports</option>
              <option value="Books">Books</option>
              <option value="Games">Games</option>
              <option value="Fitness">Fitness</option>
            </select>
          </div>
          <input type="submit" class="edit-save" value="Save">
          <button class="edit-delete">Delete this Post</button>
        </form>
      </li>
    </div>
  </section>
</section>
