<section class="indexcontent">
  <h1 class="title">TITLE</h1>
  <form class="loginform">
    <input type="text" placeholder="Username" class="login-username">
    <input type="submit" class="authorized-login" value="Log In">
  </form>
  <button class="new-user-button">Sign Up</button>
  <section class="new-user-window">
    <form class="new-user-form">
      <span class="new-name text">Full Name</span>
      <input type="text" class="first-name" placeholder="Ex: John">
      <input type="text" class="last-name" placeholder="Ex: Doe">
      <span class="new-username text">Username</span>
      <input type="text" class="username" placeholder="Ex: Floppybacon">
      <span class="new-address text">Address</span>
      <input type="text" class="street-name" placeholder="Ex: 101 North Main St.">
      <input type="text" class="city" placeholder="Ex: Greenville">
      <input type="text" class="zipcode" placeholder="Ex: 29605 ">
      <span class="new-phone text">Phone Number</span>
      <input type="text" class="phone-number" placeholder="Ex: 864-933-3205">
      <span class="new-profile-picture text">Profile Picture URL</span>
      <input type="url" class="profile-picture-url" placeholder="Ex: http://greatpofile.com/userpic35.jpg">
      <span class="new-description text">Short Bio</span>
      <textarea class="profile-description" placeholder="Tell us about yourself"></textarea>
      <input type="submit" class="log-in-new" value="Log In">
    </form>
  </section>

</section>
